@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html,body{
    height: 100vh;
    width: 100vw;
}

main{
    height: 100vh;
    position: relative;
}

body{
    background: black url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section#cell{
    background-image: url('../imagens/frame-iphone.png');
    background-size: 100% 100%;
    width: 311px;
    height: 627px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

iframe#iphone{
    width: 269px;
    height: 471px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
    box-sizing: border-box;
}

img:hover{
    border-radius: 30%;
    transition: transform 1.5s, border .5s;
    transform: scale(1.2); /* 1 = 100% | 1.2 - 120% */
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid white;
}

ul{
    position: absolute;
    list-style-type: none;
    left: 94%;
}