@charset "UTF-8";
body{
    background-image: url('../imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    position: relative;
    background-size: 100% 100%;
    height: 98.3vh;
}
div#cell{
    background-image: url('../imagens/frame-iphone.png');
    background-size: 100% 100%;
    width: 320px;
    height: 568px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
iframe#home{
    width: 290px;
    height: 440px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
img{
    width: 70px;
    height: 70px;
}